@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: rgb(29, 29, 99);
  color: yellow;
  font-family: "Press Start 2P", system-ui;
}
/* 
h1 {
  color: #343a40;
} */

#game-board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);   
  gap: 10px;
  width: 300px;
  height: 300px; 
  margin: 0 auto;
}

/* Default styling for the tiles */
.color-tile {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

/* When the tile is highlighted */
.color-tile.active {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}



.color-tile:hover {
  opacity: 0.9;
}

#message {
  font-weight: bold;
}

/* When the screen width is less than 600px, hide the start button */
@media (min-width: 600px) {
  #start-btn {
    display: none;
  }
}